.navbar{
    background-color: #bfc3c4;
}
.fondo{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(37,92,186,1) 0%, rgba(103,153,190,0.7987394787016369) 100%);
}
h3, #name{
    font-family: 'Righteous', cursive;
}
h2{
    font-family: 'Bree Serif', serif;
}
h5, footer p{
	font-family: 'Pangolin', cursive;
}


.row .col-md-3, .card .pt-4{
	background-color: #6c98c6;
}
#basicInfo h3, p a{
	color: #6c98c6;
}
li a:hover{
	background-color: transparent !important;
	border: #6c98c6 2px ridge;
	border-top-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}
a:hover{
	background-color: #6c98c6;
	color: white;
	text-decoration: none;
}
#name:hover{
	background-color: transparent;
}
footer a{
	color: white;
}
footer a:hover{
	background-color: transparent;
}

#navbarSupportedContent{
    width: 100%;
    right: 0px;
    position: absolute;
}

.card-img-top{
	width: 321px;
	height: 260px;
}

		/* VENTANA EMERGENTE */
.modalDialog {
	padding: 8px;
	display: flex;
	align-items: center;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 1100px;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

		/* FIN VENTANA */

		/* Tamaño de imagenes en version desktop */
.sec_img{
	display: flex;
	justify-content: center;
	padding-left: 19%;
	padding-right: 19%;
	margin-bottom: 5px;
}
.sec_img img{
	width: 80%;
}
.modal-sec_imgBT{
	padding-left: 10%;
	padding-right: 10%;
}
#modalBT-img{
	width: 100%;
	margin-top: 5px;
}

#modalCD-img{
	width: 50% !important;
}
#modalCA-img{
	width: 55% !important;
}
		/* Tamaño de imagenes en version desktop */


									/* Efectos */

#name{
	transition-duration: 4s;
	transform: rotateY(360deg);
}

#basicInfo:target h3, #workExperience:target h2, 
#education:target h2, #skills:target h2, #briefcase:target h2{
	transition-duration: 3s;
	transform: rotateX(360deg);
}

#footer-contact i:hover{
	background-color: transparent;
	transition-duration: 3s;
	transform: rotateX(-180deg) rotateY(170deg);
}


#footer-contact:target i{
	transition-duration: 4s;
	transform: rotate(360deg);
}

				/* Fin de animacion */



@media(max-width:1024px){
	#navbarSupportedContent{
        position: relative;
	}
	.sec_img{
		padding: 0;
	}
	.education-row{
		display: block !important;
	}
	.card{
		width: auto !important;
	}
	.card-img-top {
		width: 100%;
		height: 100%;
	}
	#modalCD-img{
		width: 70% !important;
	}
	#modalCA-img{
		width: 70% !important;
	}	
}